$app-layout-duration: 1.75s;
$header-logo-duration: $app-layout-duration*0.5;
$header-logo-delay: $header-logo-duration*0.15;
$header-logo-svg-duration: $header-logo-duration;

$header-line-delay: $header-logo-duration;
$header-line-duration: $app-layout-duration*0.4;

$field-delay: $header-logo-duration + $header-line-duration - $header-line-duration/2;
$field-duration: $app-layout-duration*0.1;

@mixin animated-show($name, $duration: 1s, $delay: 0) {
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $name;
}

@keyframes growY {
  100% { transform: translate3d(0, 0, 0) ; -webkit-transform: translate3d(0, 0, 0) ; -moz-transform: translate3d(0, 0, 0) ; -ms-transform: translate3d(0, 0, 0) ; -o-transform: translate3d(0, 0, 0) ; }
}

@keyframes flash {
  100% {
    fill: $primaryColor;
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  30% { opacity: 0; }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}