<template>
  <section id="app-header">
    <div id="app-header__title">
      <div id="app-header__title__logo">
        <img
          svg-inline svg-sprite
          src="../assets/svg-sprite/logo-link.svg"
          alt="Logotype of chain link"
        />
      </div>
      <h1 v-once>{{ title }}</h1>
    </div>
    <div id="app-header__sep">
      <div id="app-header__sep__line"></div>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'app-header',
  computed: {
    ...mapState({
      stateIsReady: 'ready',
    }),
  },
  data() {
    return {
      title: process.env.APP_TITLE,
    };
  },
};
</script>

<style lang="scss">
@import '../scss/colors.scss';
@import '../scss/animations.scss';

$header-height: 6rem;
$header-padding: 2rem;
$logo-size: $header-height;
$line-height: $header-height/2;

#app-header__title {
  height: $header-height;
  padding-top: $header-padding;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  & > h1 {
    padding-left: 1rem;
  }
}
#app-header__title__logo {
  flex: 0 0 $logo-size;

  & > svg {
    background: $app-background-color;
    fill: #CCC;
    opacity: 0;
    width: 100%;
    height: 100%;
    @include animated-show(flash, $header-logo-duration, $header-logo-delay);
  }
}

#app-header__sep {
  position: relative;
  z-index: -1;
  overflow: hidden;
  height: $line-height;
  margin-top: -0.25rem;
}

#app-header__sep__line {
  transform: translate3d(0, -100%, 0);
  height: $line-height;
  margin: 0 auto 0 $logo-size/2;
  border-left: 2px solid $primaryColor;
  @include animated-show(growY, $header-line-duration, $header-line-duration);
}

</style>