<template>
  <main id="app-main">
    <app-header></app-header>
    <div v-if="ready">
      <div v-if="redirecting">
        Redirecting to {{ this.redirectTo }} in {{ this.count }}
      </div>
      <div v-else>
        <div v-if="urlError">
          <p>
            Could not find any saved URL matching "{{ urlError }}"
          </p>
          <button @click="urlError = null">Close</button>
        </div>

        <url-field></url-field>
        <url-list></url-list>
      </div>
    </div>
  </main>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';
import AppHeader from '@/components/app-header';
import UrlField from '@/components/url-field';
import UrlList from '@/components/url-list';

export default {
  name: 'app-main',
  components: {
    [AppHeader.name]: AppHeader,
    [UrlField.name]: UrlField,
    [UrlList.name]: UrlList,
  },
  created() {
    this.initiate();
  },
  computed: {
    ...mapState({
      stateIsReady: 'ready',
    }),
    ...mapGetters(['findUrl']),
    ready() {
      return this.stateIsReady && this.checkedRedirect;
    },
  },
  data() {
    return {
      title: process.env.APP_TITLE,
      redirecting: false,
      currentUrl: new URL(window.location.href),
      urlError: null,
      count: 6,
      checkedRedirect: false,
      redirectTo: null,
    };
  },
  methods: {
    ...mapActions(['initiate']),
    redirect(url, countingDown = true) {
      if (!countingDown) {
        window.location.replace(url);
      }
      else {
        this.count--;
        setTimeout(() => {
          this.redirect(url, this.count > 1);
        }, 1000);
      }
    }
  },
  mounted() {

    // Check if pathname is truish and remove initial slash to get actual key
    // TODO: More thourough check of pathname?
    const urlSuffix = this.currentUrl.pathname
      ? this.currentUrl.pathname.slice(1)
      : null;

    if (urlSuffix) {
      const possibleUrl = this.findUrl(urlSuffix);
      if (possibleUrl) {
        this.redirecting = true;
        this.redirectTo = possibleUrl,
        this.redirect(possibleUrl);
      }
      else {
        this.urlError = urlSuffix;
      }
    }
    this.checkedRedirect = true;
  },
};
</script>

<style lang="scss">
@import '../scss/colors.scss';

#app-main {
  height: 100%;
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
  padding: 0 1rem;
}

#app {
  text-align: center;
  color: #2c3e50;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.loader {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  padding: 0;
}
p {
  margin: 1rem auto;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
em {
  font-style: normal;
  font-weight: normal;
  color: $primaryColor;
}

input[type="submit"],
button {
  overflow: hidden;
  position: relative;
  border: none;
  border-style: hidden;
  font-size: 1.25rem;
  color: #FFF;
  fill: #FFF;
  background: $primaryColor;
  cursor: pointer;
  transition: background 0.3s ease-in, color 0.3s ease-in;
  padding: 0.25rem 0.25rem;

  &:hover {
    background-color: darkgreen;
  }

  > svg {
    display: inline-block;
    transition: fill 0.35s linear;
  }

  &[disabled] {
    background: white !important;
    color: lightgray !important;
    fill: lightgray;
  }
}

</style>