<template>
  <div>
    <div class="url-list__actions" v-if="urls.length > 0">
      <button @click="removeAllAndSave">Remove all</button>
    </div>
    <ol class="url-list">
      <url-list-item
        v-for="url in urls"
        :key="url.id"
        :url="url"
      ></url-list-item>
    </ol>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import UrlListItem from '@/components/url-list-item';

/**
 * Component responsible for rendering the link list.
 *
 * For this demo using flex for laying out works fine due to the limited list
 * of items. For larger lists it might become a little heavy so I would likely
 * use block/inline based layout of the individual items.
 */
export default {
  name: 'url-list',
  components: {
    [UrlListItem.name]: UrlListItem,
  },
  computed: {
    ...mapState(['urls']),
  },
  methods: {
    ...mapActions(['removeAllAndSave']),
  }
};
</script>

<style lang="scss">
@import '../scss/colors.scss';

.url-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.url-list__actions {
  padding: 1rem 1rem;
}

</style>