<template>
  <li :class="classList" @click="expanded = !expanded" :title="hintMessage">
    <span class="url-list__item__meta">
      <span class="url-list__item__surl">{{ url.shortenedUrl }}</span>
      <span class="url-list__item__furl">{{ url.url }}</span>
      <button
        v-if="expanded"
        title="Remove"
        @click.stop="removeAndSave(url.id)"
      >Remove</button>
    </span>
    <span class="url-list__item__actions">
      <button
        title="Copy"
        @click.stop="copy"
      >
        <img
          svg-inline svg-sprite
          src="../assets/svg-sprite/copy.svg"
          alt="Logotype of chain link"
        />
      </button>
      <button
        title="Go to"
        @click.stop="goTo"
      >
        <img
          svg-inline svg-sprite
          src="../assets/svg-sprite/open.svg"
          alt="Logotype of chain link"
        />
      </button>
    </span>
  </li>
</template>

<script>
import { mapActions } from 'vuex';
/**
 * Component responsible for rendering the link items in url-list.
 *
 * If you are wondering about the use of spans instead of divs (as other
 * components) it's because of the li element only should allow
 * flow-content (and not blocks) for a valid HTML-tree.
 */
export default {
  name: 'url-list-item',
  props: {
    url: { type: Object, required: true },
  },
  computed: {
    classList() {
      return [
        'url-list__item',
        // Shorthand to add this class if expanded, vuejs does not add the class
        // if it's not evaluated to a truthy value
        this.expanded && 'url-list__item--expanded'
      ];
    },
    hintMessage() {
      return this.expanded ? 'Click to collapse' : 'Click to expand';
    }
  },
  data() {
    return {
      expanded: false,
    };
  },
  methods: {
    ...mapActions(['removeAndSave']),
    goTo() {
      window.open(this.url.url, '__blank');
    },
    async copy() {
      try {
        await this.$copyText(this.url.url);
      }
      catch(error) {
        console.error('Error when copying text:', error);
      }
    },
  }
};
</script>

<style lang="scss">
@import '../scss/colors.scss';

.url-list__item {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5rem 1rem;
  margin: 0;
  cursor: pointer;

  &:hover {
    background-color: #EFEFEF;
  }
}
.url-list__item__meta {
  overflow: hidden;
  flex: 1 1 auto;
  color: #555;
}
.url-list__item__surl {
  color: $primaryColor;
  line-height: 1.5;
  font-size: 1.25rem;
}
.url-list__item__furl {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $textColor;
  text-decoration: none;
  font-size: 0.875em;

  .url-list__item--expanded & {
    white-space: initial;
    text-overflow: initial;
    padding-bottom: 0.5rem;
  }
}
.url-list__item__actions {
  flex: 0 0 auto;

  & > button {
    display: inline-block;
    height: 3rem;

    & svg {
      height: 100%;
      padding: 0.375rem;
    }
  }
}

</style>