<template>
  <div class="url-field">
    <div class="url-field__inner">
      <form @submit="onSubmit">
        <input size="10" type="url" placeholder="Enter URL here" required v-model="fieldValue" />
        <button @click="submit">
          <img
            svg-inline
            src="../assets/svg-sprite/create.svg"
            alt="Logotype of chain link"
          />
        </button>
        <input type="submit" value="Generate" ref="submitter" />
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'url-field',
  computed: {
    ...mapGetters(['url', 'shortenedUrl']),
  },
  data() {
    return {
      fieldValue: '',
    };
  },
  methods: {
    ...mapActions(['save']),
    submit(ev) {
      ev.preventDefault();
      this.$refs.submitter.click();
    },
    onSubmit(ev) {
      ev.preventDefault();
      this.save(this.fieldValue);
      this.fieldValue = '';
    }
  },
};
</script>

<style lang="scss">
@import '../scss/colors.scss';
@import '../scss/animations.scss';

$border-thickness: 0.25rem;
$height: 3rem + $border-thickness*2;

.url-field {
  height: $height;
  overflow: hidden;
}

.url-field__inner {
  height: $height;

  & > form {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    height: $height - $border-thickness*2;
    border: $border-thickness solid $primaryColor;
    border-radius: 0.5rem;
    padding-left: 0.75rem;
    opacity: 0;
    transform: scale(1.12);
    @include animated-show(scaleIn, $field-duration, $field-delay);

    & > button {
      background-color: $primaryColor;
      flex: 0 0 $height;
      opacity: 0;
      @include animated-show(fadeIn, 0.22s, $field-duration + $field-delay);
      & > svg {
        width: 66%;
      }
    }
    /* hiding this as we are using a button instead */
    & > input[type="submit"] {
      flex: 0 0 0;
      padding: 0;
    }

    & > input[type="url"] {
      flex: 1 1 auto;
      border: 0;
      padding: 0;
      margin: 0;
      line-height: 1.75;
      font-size: 1.5rem;
      opacity: 0;
      @include animated-show(fadeIn, 0.22s, $field-duration + $field-delay);
    }
  }
}
</style>