<!DOCTYPE html>
<!--[if lt IE 9 ]>    <html lang="en" class="ie" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie ie9" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <!--<![endif]-->
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title><%= htmlWebpackPlugin.options.title || 'Webpack App'%></title>
  <style>
    html {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #2c3e50;
      box-sizing: border-box;
    }
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    *, *:before, *:after {
      box-sizing: inherit;
      outline: 0;
    }
    .loader-wrap {
      position: absolute;
      top:50%;
      left: 50%;
      height: 8rem;
      width: 8rem;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .loader {
      position: absolute;
      top: 0;
      height: 8rem;
      width: 8rem;
      animation: 1s rotate linear infinite;
    }
    .unsupported-browser { display: none; }
    @keyframes rotate {
      0% { transform: rotate(1deg); }
      100% { transform: rotate(359deg); }
    }
  </style>
  <% if (htmlWebpackPlugin.files.favicon) { %>
  <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% if (htmlWebpackPlugin.options.inlineCss) { %>
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <style>
  <%= compilation.assets[css.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
  </style>
  <% } %>
  <% } else { %>
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
  <% } %>
</head>
<body>
<% if (htmlWebpackPlugin.options.unsupportedBrowser) { %>
<style></style>
<div class="unsupported-browser">
  Sorry, your browser is not supported.  Please upgrade to
  the latest version or switch your browser to use this site.
  See <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a>
  for options.
</div>
<% } %>
<% if (htmlWebpackPlugin.options.appMountId) { %>
<div id="<%= htmlWebpackPlugin.options.appMountId%>">
  <div class="loader-wrap"><img class="loader" src="<%= require('./assets/loading-spinner.svg') %>" /></div>
</div>
<% } %>
<% if (htmlWebpackPlugin.options.appMountIds && htmlWebpackPlugin.options.appMountIds.length > 0) { %>
<% for (var index in htmlWebpackPlugin.options.appMountIds) { %>
<div id="<%= htmlWebpackPlugin.options.appMountIds[index]%>"></div>
<% } %>
<% } %>

<% if (htmlWebpackPlugin.options.window) { %>
<script>
  <% for (var varName in htmlWebpackPlugin.options.window) { %>
    window['<%=varName%>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
  <% } %>
</script>
<% } %>

<% if (htmlWebpackPlugin.options.inlineJs) { %>
<script type="text/javascript">
<% for (var i in htmlWebpackPlugin.files.js) { %>
<%= compilation.assets[htmlWebpackPlugin.files.js[i]].source() %>
<% } %>
</script>
<% } else { %>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
<% } %>

<% if (htmlWebpackPlugin.options.devServer) { %>
<script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
<% } %>
</body>
</html>